  <div class ="main-visual">
    <div class ="main-visual-text">
      <div class="main-visual-centence">
        <div class="main-centense">
          STARは、スキルと時間の売買ができるサイトです。<br>
          会員でない方も閲覧はできますが、購入には会員登録が必要です。
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h3>おすすめ商品</h2>
  </div>
  <div class="row">
    <% @products.last(4).each do |product| %>
      <div class="col-md-3">
        <%= link_to product_path(product.id) do %>
          <%= attachment_image_tag product, :image, :fill, 200, 200, format: 'jpeg', class:"img-fluid"  %>
          <h5><%= product.name %></h5>
          <% if product.is_active == false %>
            <p>￥<%= product.price %></p>
            <p class="text-danger">完売</p>
          <% else %>
            <p>￥<%= product.price %></p>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class ="col text-right">
      <%= link_to "もっと見る＞", products_path %>
    </div>
  </div>