<div class="container-fluid">
  <div class="row">
    <div class ="col-md-8 offset-md-2 text-center">
      <h2>ログイン</h2>
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <div class="row my-3">
        <div class="col-md-3 offset-md-1 text-right">
          <p>メールアドレス</p>
        </div>
        <div class="col-md-4">
          <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="row my-3">
        <div class="col-md-3 offset-md-1 text-right">
          <p>パスワード</p>
        </div>
        <div class="col-md-4">
          <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-4 offset-md-4 mb-3">
        <%= f.submit "Log in", class: "btn btn-success btn-block" %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class ="col-md-8 offset-md-2 text-center">
      <h6><%= link_to "登録がお済みでない方", new_seller_registration_path %>
      </h6>
    </div>
  </div>

</div>
