<%= form_with model: product, url:sellers_products_path, method: :post, local: true do |item| %>

  <div class= "row">
    <div class= "col-md-8 offset-md-2">

      <div class= "row">
        <div class= "col-md-2 text-right">
          <span>アイテム画像</span>
        </div>
        <div class= "col-md-8">
          <%= item.attachment_field :image, class: "image" %>
        </div>
      </div>

      <div class= "row">
        <div class= "col-md-2 text-right">
          <span>アイテム名</span>
        </div>
        <div class= "col-md-8">
          <%= item.text_field :name, class: "form-control" %>
        </div>
      </div>

      <div class= "row">
        <div class= "col-md-2 text-right">
          <span>アイテム説明</span>
        </div>
        <div class= "col-md-8">
          <%= item.text_area :introduction, class: "form-control", rows:10 %>
        </div>
      </div>

      <div class= "row">
        <div class= "col-md-2 text-right">
          <span>ジャンル</span>
        </div>
        <div class= "col-md-8">
          <%= item.collection_select :category_id, Category.all, :id, :category_name, {prompt: "選択してください"},{ class: "form-control"} %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 text-right">
          <span>税抜価格</span>
        </div>
        <div class="col-md-8">
          <%= item.text_field :price, class: "form-control",placeholder:"例：500" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 text-right">
          <%= item.submit "OK", class: "button" %>
        </div>
      </div>

    </div>
  </div>

<% end %>