<!DOCTYPE html>
<html>
  <head>
    <title>STAR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class='header-main'>
        <%= link_to root_path do %>
          <span class="header-name">STAR</span>
        <% end %>

        <nav>
          <ul class="nav-list">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "マイページ", users_my_page_path, class: "nav-link, fas fa-paw" %>
              </li>
              <li class="nav-item">
                <%= link_to "一覧", products_path, class: "nav-link, fas fa-hand-holding-heart" %>
              </li>
              <li class="nav-item">
                <%= link_to "", product_cart_products_path(:roduct_id), class: "nav-link, fas fa-shopping-cart" %>
              </li>
              <li class="nav-item">
                <%= link_to "Log out", destroy_user_session_path, class: "nav-link", :method=>:delete %>
              </li>

            <% elsif seller_signed_in? %>
              <li class="nav-item">
                <%= link_to "一覧", sellers_products_path, class: "nav-link, fas fa-hand-holding-heart" %>
              </li>
              <li class="nav-item">
                <%= link_to "会員一覧", sellers_users_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "履歴情報一覧", sellers_orders_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ジャンル一覧", sellers_categories_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Log out", destroy_seller_session_path, class: "nav-link, fas fa-sign-out-alt", :method=>:delete %>
              </li>

            <% else %>
              <li class="nav-item">
                <%= link_to "About", users_about_path, class: "nav-link, fas fa-book-open" %>
              </li>
              <li class="nav-item">
                <%= link_to "一覧", products_path, class: "nav-link, fas fa-hand-holding-heart" %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign up", new_user_registration_path, class: "nav-link, fas fa-user-plus" %>
              </li>
              <li class="nav-item">
                <%= link_to "Log in", new_user_session_path, class: "nav-link, fas fa-sign-in-alt" %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <footer>
      <div>
        <p class ="footer-text">
          Copyright © 2021 STAR Inc. All Rights Reserved.
        </p>
      <div>
    </footer>
  </body>
</html>
